<!DOCTYPE html>
<html>
<head>
  <title>Employees</title>
  <style>

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 5px;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }
  body {
    font-family: Arial, sans-serif;
    background-color: cadetblue;
  }

  header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
    color: whitesmoke;
  }

  input[type="text"] {
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    font-size: 24px;
    font-weight: bold;  
  }

  a {
    margin-top: -1600px;
    margin-right: 69px;
    color: blue; 
    text-decoration:none; 
    font-size: 17px;
  }

  a:hover {
    text-decoration:underline; 
  }

  label {
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: white;
    color: black;  
    font-style: italic;
  }

</style>
</head>
<body>
    <a href="Operations.html">Operations</a>
    <a href="HSA.html">Joint ventures</a><br>
    <br>
        <header>Employees</header><br>
        <br>
  <form action = "/Employeesdb" method = "post" >
  <table>
    <thead>
      <tr>
        <th>S.NO.</th>
        <th>Particulars</th>
        <th>Total (A)</th>
        <th><label>Male</label><br>
            <br>
          No. (B) &nbsp; - &nbsp; % (B/A) 
        </th>
        <th><label>Female</label><br>
            <br>
          No. (C) &nbsp; - &nbsp; % (C/A) 
        </th>
      </tr>
      <tr>
        <th>Employees</th>
      </tr>
    </thead>
    <tbody>
        <label>1. Details as at the end of Financial Year:</label><br>
        <br>
        <label>a. Employees and workers (including differently abled):</label><br>
        <br>
        <tr> 
        <td>1</td>
        <td>Permanent (D)</td>
        <td><input type="text" placeholder="" name = "a1" /></td>
        <td><input type="text" placeholder="" name = "a2" /><input type="text" placeholder="" name = "a3" /></td>
        <td><input type="text" placeholder="" name = "a4" /><input type="text" placeholder="" name = "a5" /></td>
        
      </tr>
      <tr>
        <td>2</td>
        <td>Other than Permanent (E)</td>
        <td><input type="text" placeholder="" name = "a6" /></td>
        <td><input type="text" placeholder="" name = "a7" /><input type="text" placeholder="" name = "a8" /></td>
        <td><input type="text" placeholder="" name = "a9" /><input type="text" placeholder="" name = "a10" /></td>
      </tr>

      <tr>
        <td>3</td>
        <td>Total employees (D + E)</td>
        <td><input type="text" placeholder="" name = "a11" /></td>
        <td><input type="text" placeholder="" name = "a12" /><input type="text" placeholder="" name = "a13" /></td>
        <td><input type="text" placeholder="" name = "a14" /><input type="text" placeholder="" name = "a15" /></td>
      </tr>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table><br>
  <br>

  <table>
    <thead>
      <tr>
        <th>S.NO.</th>
        <th>Particulars</th>
        <th>Total (A)</th>
        <th><label>Male</label><br>
            <br>
          No. (B) &nbsp; - &nbsp; % (B/A) 
        </th>
        <th><label>Female</label><br>
            <br>
          No. (C) &nbsp; - &nbsp; % (C/A) 
        </th>
      </tr>
      <tr>
        <th>Workers</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Permanent (F)</td>
        <td><input type="text" placeholder="" name = "a16" /></td>
        <td><input type="text" placeholder="" name = "a17" /><input type="text" placeholder="" name = "a18" /></td>
        <td><input type="text" placeholder="" name = "a19" /><input type="text" placeholder="" name = "a20" /></td>
        
      </tr>
      <tr>
        <td>2</td>
        <td>Other than Permanent (G)</td>
        <td><input type="text" placeholder="" name = "a21" /></td>
        <td><input type="text" placeholder="" name = "a22" /><input type="text" placeholder="" name = "a23" /></td>
        <td><input type="text" placeholder="" name = "a24" /><input type="text" placeholder="" name = "a25" /></td>
      </tr>

      <tr>
        <td>3</td>
        <td>Total workers (F + G)</td>
        <td><input type="text" placeholder="" name = "a26" /></td>
        <td><input type="text" placeholder="" name = "a27" /><input type="text" placeholder="" name = "a28" /></td>
        <td><input type="text" placeholder="" name = "a29" /><input type="text" placeholder="" name = "a30" /></td>
      </tr>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table><br>
  <br>
  <br>

  <table>
    <thead>
      <tr>
        <th>S.NO.</th>
        <th>Particulars</th>
        <th>Total (A)</th>
        <th><label>Male</label><br>
            <br>
          No. (B) &nbsp; - &nbsp; % (B/A) 
        </th>
        <th><label>Female</label><br>
            <br>
          No. (C) &nbsp; - &nbsp; % (C/A) 
        </th>
      </tr>
      <tr>
        <th>Differently Abled Employees</th>
      </tr>
    </thead>
    <tbody>
        <label>b. Differently abled Employees and workers</label><br>
        <br>
        <tr>
        
        <td>1</td>
        <td>Permanent (D)</td>
        <td><input type="text" placeholder="" name = "a31" /></td>
        <td><input type="text" placeholder="" name = "a32" /><input type="text" placeholder="" name = "a33" /></td>
        <td><input type="text" placeholder="" name = "a34" /><input type="text" placeholder="" name = "a35" /></td>
        
      </tr>
      <tr>
        <td>2</td>
        <td>Other than Permanent (E)</td>
        <td><input type="text" placeholder="" name = "a36" /></td>
        <td><input type="text" placeholder="" name = "a37" /><input type="text" placeholder="" name = "a38" /></td>
        <td><input type="text" placeholder="" name = "a39" /><input type="text" placeholder="" name = "a40" /></td>
      </tr>

      <tr>
        <td>3</td>
        <td>Total employees (D + E)</td>
        <td><input type="text" placeholder="" name = "a41" /></td>
        <td><input type="text" placeholder="" name = "a42" /><input type="text" placeholder="" name = "a43" /></td>
        <td><input type="text" placeholder="" name = "a44" /><input type="text" placeholder="" name = "a45" /></td>
      </tr>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>S.NO.</th>
        <th>Particulars</th>
        <th>Total (A)</th>
        <th><label>Male</label><br>
            <br>
          No. (B) &nbsp; - &nbsp; % (B/A) 
        </th>
        <th><label>Female</label><br>
            <br>
          No. (C) &nbsp; - &nbsp; % (C/A) 
        </th>
      </tr>
      <tr>
        <th>Differently Abled Workers</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Permanent (F)</td>
        <td><input type="text" placeholder="" name = "a46" /></td>
        <td><input type="text" placeholder="" name = "a47" /><input type="text" placeholder="" name = "a48" /></td>
        <td><input type="text" placeholder="" name = "a49" /><input type="text" placeholder="" name = "a50" /></td>
        
      </tr>
      <tr>
        <td>2</td>
        <td>Other than Permanent (G)</td>
        <td><input type="text" placeholder="" name = "a51" /></td>
        <td><input type="text" placeholder="" name = "a52" /><input type="text" placeholder="" name = "a53" /></td>
        <td><input type="text" placeholder="" name = "a54" /><input type="text" placeholder="" name = "a55" /></td>
      </tr>

      <tr>
        <td>3</td>
        <td>Total workers (F + G)</td>
        <td><input type="text" placeholder="" name = "a56" /></td>
        <td><input type="text" placeholder="" name = "a57" /><input type="text" placeholder="" name = "a58" /></td>
        <td><input type="text" placeholder="" name = "a59" /><input type="text" placeholder="" name = "a60" /></td>
      </tr>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table><br>
  <br>
  <br>
  
  
<table>
    <thead>
      <tr>
        <th></th>
        <th>Total (A)</th>
        <th><label>No. and percentage of Females</label><br>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No. (B) &nbsp; - &nbsp; % (B/A) 
        </th>
      </tr>
    </thead>
    <tbody>
      <label>2. Participation/Inclusion/Representation of women</label><br>
      <br>
      <tr>
        <td>Board of Directors</td>
        <td><input type="text" placeholder="" name = "a61" /></td>
        <td><input type="text" placeholder="" name = "a62" /><input type="text" placeholder="" name = "a63" /></td>
        
      </tr>
      <tr>
        <td>Key Management Personnel</td>
        <td><input type="text" placeholder="" name = "a64" /></td>
        <td><input type="text" placeholder="" name = "a65" /><input type="text" placeholder="" name = "a66" /></td>
      </tr>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
</table><br>
<br>
<br>
  
  
<table>
    <thead>
      <tr>
        <th></th>
        <th><label>FY __(Turnover rate in current FY)</label><br>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Male &nbsp; - &nbsp; Female &nbsp; - &nbsp; Total 
        </th>
        <th><label>FY __(Turnover rate in prevoius FY)</label><br>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Male &nbsp; - &nbsp; Female &nbsp; - &nbsp; Total 
        </th>
        <th><label>FY __(Turnover rate in the year prior to the previous FY)</label><br>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Male &nbsp; - &nbsp; Female &nbsp; - &nbsp; Total 
        </th>
      </tr>
    </thead>
    <tbody>
      <label>3. Turnover rate for permanent employees and workers
        (Disclose trends for the past 3 years)</label><br>
      <br>
      <tr>
        <td>Permanent Employees</td>
        <td><input type="text" placeholder="" name = "a67" /><input type="text" placeholder="" name = "a68" /><input type="text" placeholder="" name = "a69" /></td>
        <td><input type="text" placeholder="" name = "a70" /><input type="text" placeholder="" name = "a71" /><input type="text" placeholder="" name = "a72" /></td>
        <td><input type="text" placeholder="" name = "a73" /><input type="text" placeholder="" name = "a74" /><input type="text" placeholder="" name = "a75" /></td>
        </tr>
      <tr>
        <td>Permanent Workers</td>
        <td><input type="text" placeholder="" name = "a76" /><input type="text" placeholder="" name = "a77" /><input type="text" placeholder="" name = "a78" /></td>
        <td><input type="text" placeholder="" name = "a79" /><input type="text" placeholder="" name = "a80" /><input type="text" placeholder="" name = "a81" /></td>
        <td><input type="text" placeholder="" name = "a82" /><input type="text" placeholder="" name = "a83" /><input type="text" placeholder="" name = "a84" /></td>
      </tr>
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table><br>
  <br>
  <br>  
  <form>
    <button>Submit</button>
  </form>

</body>
</html>
