<!DOCTYPE html>
<html>
<head>
  <title>MPD</title>
  <style>
    
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
  color:black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 8px;
  text-align: left;
}

form {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/templates/bgi.jpg');
}

label {
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: black;
    color:black;
    font-style: italic;
}

input[type="text"] {
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}  

</style>
</head>
<body>
    
  <ul>
    <li><a href="DOE.html">SECTION-A</a></li>
    <li><a class="active" href="Section_B.html">SECTION-B</a></li>
    <li><a href="Section_C.html">SECTION-C</a></li>
  </ul><br>
  <br>
  
        <header>MANAGEMENT AND PROCESS DISCLOSURES</header><br>
        <br>
  <form action = "/Section_Bdb" method = "post" >
  <table>
    <thead>
      <tr>
        <th>Disclosure Questions</th>
        <th>P<br>1</th>
        <th>P<br>2</th>
        <th>P<br>3</th>
        <th>P<br>4</th>
        <th>P<br>5</th>
        <th>P<br>6</th>
        <th>P<br>7</th>
        <th>P<br>8</th>
        <th>P<br>9</th>
      </tr>
      <tr>
        <th>Policy and management processes</th>
      </tr>
    </thead>
    <tbody>
        <label>This section is aimed at helping businesses demonstrate the structures, policies and processes put in place towards adopting the NGRBC Principles and Core Elements.</label><br>
        <br>

        <tr>
        
        <td>1. a. Whether your entity's policy/policies cover each principle and its core elements of the NGRBCs.(Yes/No)</td>
        <td><select>
            <option hidden "></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z2"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z3"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z4"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z5"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z6"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z7"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z8"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z9"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        
      </tr>

      <tr>

      <td>b.Has the policy been approved by the Board?(Yes/No)</td>
        <td><select>
            <option hidden name = "z10"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z11"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z12"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z13"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z14"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z15"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z16"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z17"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        <td><select>
            <option hidden name = "z18"></option>
            <option>Yes</option>
            <option>No</option>
        </select></td>
        
      </tr>

      <tr>

        <td>2. Whether the entity has translated the policy into procedures.(Yes / No)</td>
        <td><input type="text" placeholder=""  name = "z19" /></td>
        <td><input type="text" placeholder=""  name = "z20" /></td>
        <td><input type="text" placeholder=""  name = "z21" /></td>
        <td><input type="text" placeholder=""  name = "z22"  /></td>
        <td><input type="text" placeholder=""  name = "z23" /></td>
        <td><input type="text" placeholder=""  name = "z24" /></td>
        <td><input type="text" placeholder=""  name = "z25" /></td>
        <td><input type="text" placeholder=""  name = "z26" /></td>
        <td><input type="text" placeholder=""  name = "z27" /></td>
      
    </tr>

      <tr>

        <td>b.Has the policy been approved by the Board?(Yes/No)</td>
          <td><select>
              <option hidden name = "z28"></option>
              <option>Yes</option>
              <option>No</option>
          </select></td>
          <td><select>
              <option hidden name = "z29"></option>
              <option>Yes</option>
              <option>No</option>
          </select></td>
          <td><select>
              <option hidden name = "z30"></option>
              <option>Yes</option>
              <option>No</option>
          </select></td>
          <td><select>
              <option hidden name = "z31"></option>
              <option>Yes</option>
              <option>No</option>
          </select></td>
          <td><select>
              <option hidden name = "z32"></option>
              <option>Yes</option>
              <option>No</option>
          </select></td>
          <td><select>
              <option hidden name = "z33"></option>
              <option>Yes</option>
              <option>No</option>
          </select></td>
          <td><select>
              <option hidden name = "z34"></option>
              <option>Yes</option>
              <option>No</option>
          </select></td>
          <td><select>
              <option hidden name = "z35"></option>
              <option>Yes</option>
              <option>No</option>
          </select></td>
          <td><select>
              <option hidden name = "z36"></option>
              <option>Yes</option>
              <option>No</option>
          </select></td>
          
        </tr>

        <tr>

            <td>3. Do the enlisted policies extend to your value chain partners?(Yes/No</td>
              <td><select>
                  <option hidden name = "z37"></option>
                  <option>Yes</option>
                  <option>No</option>
              </select></td>
              <td><select>
                  <option hidden name = "z38"></option>
                  <option>Yes</option>
                  <option>No</option>
              </select></td>
              <td><select>
                  <option hidden name = "z39"></option>
                  <option>Yes</option>
                  <option>No</option>
              </select></td>
              <td><select>
                  <option hidden name = "z40"></option>
                  <option>Yes</option>
                  <option>No</option>
              </select></td>
              <td><select>
                  <option hidden name = "z41"></option>
                  <option>Yes</option>
                  <option>No</option>
              </select></td>
              <td><select>
                  <option hidden name = "z42"></option>
                  <option>Yes</option>
                  <option>No</option>
              </select></td>
              <td><select>
                  <option hidden name = "z43"></option>
                  <option>Yes</option>
                  <option>No</option>
              </select></td>
              <td><select>
                  <option hidden name = "z44"></option>
                  <option>Yes</option>
                  <option>No</option>
              </select></td>
              <td><select>
                  <option hidden name = "z45"></option>
                  <option>Yes</option>
                  <option>No</option>
              </select></td>
              
            </tr>

         <tr>

                <td>4. Name of the national and international codes/certifications/labels/ standards (e.g. Forest Stewardship Council, Fairtrade, Rainforest Alliance, Trustea) standards (e.g. SA 8000, OHSAS, ISO, BIS) adopted by your entity and mapped to each principle.</td>
                <td><input type="text" placeholder=""  name = "z46" /></td>
                <td><input type="text" placeholder=""  name = "z47" /></td>
                <td><input type="text" placeholder=""  name = "z48" /></td>
                <td><input type="text" placeholder=""  name = "z49" /></td>
                <td><input type="text" placeholder=""  name = "z50" /></td>
                <td><input type="text" placeholder=""  name = "z51" /></td>
                <td><input type="text" placeholder=""  name = "z52" /></td>
                <td><input type="text" placeholder=""  name = "z53" /></td>
                <td><input type="text" placeholder=""  name = "z54" /></td>
              
        </tr>

        <tr>

            <td>5. Specific commitments, goals and targets set by the entity with defined timelines, if any.</td>
            <td><input type="text" placeholder=""  name = "z55" /></td>
            <td><input type="text" placeholder=""  name = "z56" /></td>
            <td><input type="text" placeholder=""  name = "z57" /></td>
            <td><input type="text" placeholder=""  name = "z58" /></td>
            <td><input type="text" placeholder=""  name = "z59" /></td>
            <td><input type="text" placeholder=""  name = "z60" /></td>
            <td><input type="text" placeholder=""  name = "z61" /></td>
            <td><input type="text" placeholder=""  name = "z62" /></td>
            <td><input type="text" placeholder=""  name = "z63" /></td>
          
         </tr>

         <tr>

            <td>6. Performance of the entity against the specific commitments, goals and targets along-with reasons in case the same are not met.</td>
            <td><input type="text" placeholder=""  name = "z64" /></td>
            <td><input type="text" placeholder=""  name = "z65" /></td>
            <td><input type="text" placeholder=""  name = "z66" /></td>
            <td><input type="text" placeholder=""  name = "z67" /></td>
            <td><input type="text" placeholder=""  name = "z68" /></td>
            <td><input type="text" placeholder=""  name = "z69" /></td>
            <td><input type="text" placeholder=""  name = "z70" /></td>
            <td><input type="text" placeholder=""  name = "z71" /></td>
            <td><input type="text" placeholder=""  name = "z72" /></td>
          
         </tr>

      
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Governance, leadership and oversight</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>7. Statement by director responsible for the business responsibility report, highlighting ESG related challenges, targets and achievements (listed entity has flexibility regarding the placement of this disclosure)</td>
        
      </tr>

      <tr>

        <td>8. Details of the highest authority responsible for implementation and oversight of the Business Responsibility policy (ies).</td>
        <td><input type="text" placeholder=""  name = "z73" /></td>

      </tr>

      <tr>

        <td>9. Does the entity have a specified Committee of the Board/ Director responsible for decision making on sustainability related issues? (Yes / No). If yes, provide details.</td>
        <td><select>
            <option hidden name = "z74"></option>
            <option>Yes</option>
            <option>No</option>
        </select>
        <input type="text" placeholder="If yes, provide details"  name = "z75" /></td>
    
        </tr>
      
    </tbody>
  </table><br>
  <br>

  <label>10. Details of Review of NGRBCs by the Company:</label><br>
  <br>

  <table>
    <thead>
      <tr>
        <th>Subject for Review</th>
        <th>Indicate whether review was undertaken by Director / Committee <br> of the Board / Any other Committee</th>
        <th>Frequency (Annually/ Half yearly / Quarterly/ Any other - please specify)</th>
      </tr>
      
    </thead>
    <tbody>

    </tbody>
  </table>

  <table>
    <thead>
      <tr>
            <th></th>
            <th>P<br>1</th>
            <th>P<br>2</th>
            <th>P<br>3</th>
            <th>P<br>4</th>
            <th>P<br>5</th>
            <th>P<br>6</th>
            <th>P<br>7</th>
            <th>P<br>8</th>
            <th>P<br>9</th>
            <th>P<br>1</th>
            <th>P<br>2</th>
            <th>P<br>3</th>
            <th>P<br>4</th>
            <th>P<br>5</th>
            <th>P<br>6</th>
            <th>P<br>7</th>
            <th>P<br>8</th>
            <th>P<br>9</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Performance against above <br> policies and follow up action</td>
        <td><input type="text" placeholder=""  name = "z76" /></td>
        <td><input type="text" placeholder=""  name = "z77" /></td>
        <td><input type="text" placeholder=""  name = "z78" /></td>
        <td><input type="text" placeholder=""  name = "z79" /></td>
        <td><input type="text" placeholder=""  name = "z80" /></td>
        <td><input type="text" placeholder=""  name = "z81" /></td>
        <td><input type="text" placeholder=""  name = "z82" /></td>
        <td><input type="text" placeholder=""  name = "z83" /></td>
        <td><input type="text" placeholder=""  name = "z84" /></td>
        <td><input type="text" placeholder=""  name = "z85" /></td>
        <td><input type="text" placeholder=""  name = "z86" /></td>
        <td><input type="text" placeholder=""  name = "z87" /></td>
        <td><input type="text" placeholder=""  name = "z88" /></td>
        <td><input type="text" placeholder=""  name = "z89" /></td>
        <td><input type="text" placeholder=""  name = "z90" /></td>
        <td><input type="text" placeholder=""  name = "z91" /></td>
        <td><input type="text" placeholder=""  name = "z92" /></td>
        <td><input type="text" placeholder=""  name = "z93" /></td> 
      </tr>

      <tr>
        <td>Compliance with statutory requirements of relevance to <br> the principles, and, rectification of any non-compliances</td>
        <td><input type="text" placeholder=""  name = "z94" /></td>
        <td><input type="text" placeholder=""  name = "z95" /></td>
        <td><input type="text" placeholder=""  name = "z96" /></td>
        <td><input type="text" placeholder=""  name = "z97" /></td>
        <td><input type="text" placeholder=""  name = "z98" /></td>
        <td><input type="text" placeholder=""  name = "z99" /></td>
        <td><input type="text" placeholder=""  name = "z100" /></td>
        <td><input type="text" placeholder=""  name = "z101" /></td>
        <td><input type="text" placeholder=""  name = "z102" /></td>
        <td><input type="text" placeholder=""  name = "z103" /></td>
        <td><input type="text" placeholder=""  name = "z104" /></td>
        <td><input type="text" placeholder=""  name = "z105" /></td>
        <td><input type="text" placeholder=""  name = "z106" /></td>
        <td><input type="text" placeholder=""  name = "z107" /></td>
        <td><input type="text" placeholder=""  name = "z108" /></td>
        <td><input type="text" placeholder=""  name = "z109" /></td>
        <td><input type="text" placeholder=""  name = "z110" /></td>
        <td><input type="text" placeholder=""  name = "z111" /></td> 
      </tr>

    </tbody>
</table><br>

      <table>
        <thead>
          <tr>
            <th></th>
            <th>P<br>1</th>
            <th>P<br>2</th>
            <th>P<br>3</th>
            <th>P<br>4</th>
            <th>P<br>5</th>
            <th>P<br>6</th>
            <th>P<br>7</th>
            <th>P<br>8</th>
            <th>P<br>9</th>
          </tr>
          
        </thead>
        <tbody>
            
            <tr>
            <td>11. Has the entity carried out independent P P P P P P P P P assessment/ evaluation of the working of 123456789 its policies by an external agency?(Yes/No). If yes, provide name of the agency.</td>
            <td><input type="text" placeholder=""  name = "z112" /></td>
            <td><input type="text" placeholder=""  name = "z113" /></td>
            <td><input type="text" placeholder=""  name = "z114" /></td>
            <td><input type="text" placeholder=""  name = "z115" /></td>
            <td><input type="text" placeholder=""  name = "z116" /></td>
            <td><input type="text" placeholder=""  name = "z117" /></td>
            <td><input type="text" placeholder=""  name = "z118" /></td>
            <td><input type="text" placeholder=""  name = "z119" /></td>
            <td><input type="text" placeholder=""  name = "z120" /></td>
            </tr> 

        </tbody>
      </table><br>
      <br>
      

<label>12. If answer to question (1) above is "No" i.e. not all Principles are covered by a policy, reasons to be stated:</label><br>
<br>
  <table>
    <thead>
      <tr>
        <th>Questions</th>
        <th>P<br>1</th>
        <th>P<br>2</th>
        <th>P<br>3</th>
        <th>P<br>4</th>
        <th>P<br>5</th>
        <th>P<br>6</th>
        <th>P<br>7</th>
        <th>P<br>8</th>
        <th>P<br>9</th>
      </tr>
    </thead>
    <tbody>
      
        <tr>
            <td>The entity does not consider the Principles material to its business (Yes/No)</td>
            <td><select>
                <option hidden name = "z121"></option>
                <option>Yes</option>
                <option>No</option>
            </select><input type="text" placeholder="If No, Reason"  name = "z122" /></td>
            <td><select>
                <option hidden name = "z123"></option>
                <option>Yes</option>
                <option>No</option>
            </select><input type="text" placeholder="If No, Reason"  name = "z124" /></td>
            <td><select>
                <option hidden name = "z125"></option>
                <option>Yes</option>
                <option>No</option>
            </select><input type="text" placeholder="If No, Reason"  name = "z126" /></td>
            <td><select>
                <option hidden name = "z127"></option>
                <option>Yes</option>
                <option>No</option>
            </select><input type="text" placeholder="If No, Reason"  name = "z128" /></td>
            <td><select>
                <option hidden name = "z129"></option>
                <option>Yes</option>
                <option>No</option>
            </select><input type="text" placeholder="If No, Reason"  name = "z130" /></td>
            <td><select>
                <option hidden name = "z131"></option>
                <option>Yes</option>
                <option>No</option>
            </select><input type="text" placeholder="If No, Reason"  name = "z132" /></td>
            <td><select>
                <option hidden name = "z133"></option>
                <option>Yes</option>
                <option>No</option>
            </select><input type="text" placeholder="If No, Reason"  name = "z134" /></td>
            <td><select>
                <option hidden name = "z135"></option>
                <option>Yes</option>
                <option>No</option>
            </select><input type="text" placeholder="If No, Reason"  name = "z136" /></td>
            <td><select>
                <option hidden name = "z137"></option>
                <option>Yes</option>
                <option>No</option>
            </select><input type="text" placeholder="If No, Reason"  name = "z138" /></td>
        </tr>

        <tr>
            <td>The entity is not at a stage where it is in a position to formulate and implement the policies on specified principles (Yes/No)</td>
            <td><select>
                <option hidden name = "z139"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z140"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z141"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z142"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z143"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z144"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z145"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z146"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z147"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
        </tr>

        <tr>
            <td>The entity does not have the financial or/human and technical resources available for the task (Yes/No)</td>
            <td><select>
                <option hidden name = "z148"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z149"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z150"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z151"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z152"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z153"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z154"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z155"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z156"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
        </tr>

        <tr>
            <td>It is planned to be done in the next financial year (Yes/No)</td>
            <td><select>
                <option hidden name = "z157"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z158"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z159"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z160"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z161"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z162"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z163"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z164"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
            <td><select>
                <option hidden name = "z165"></option>
                <option>Yes</option>
                <option>No</option>
            </select></td>
        </tr>

        <tr>
            <td>Any other reason (please specify)</td>
            <td><input type="text" placeholder=""  name = "z166"/></td>
            <td><input type="text" placeholder=""  name = "z167" /></td>
            <td><input type="text" placeholder=""  name = "z168" /></td>
            <td><input type="text" placeholder=""  name = "z169" /></td>
            <td><input type="text" placeholder=""  name = "z170" /></td>
            <td><input type="text" placeholder=""  name = "z171" /></td>
            <td><input type="text" placeholder=""  name = "z172" /></td>
            <td><input type="text" placeholder=""  name = "z173" /></td>
            <td><input type="text" placeholder=""  name = "z174" /></td>
        </tr>

    </tbody>
  </table><br>
  <br>


  <form>
    <button>Submit</button>
  </form>

</body>
</html>