<!DOCTYPE html>
<html>
<head>
  <title>Transparency and Disclosures</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }
  body {
    font-family: Arial, sans-serif;
    background-color: darkgray;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }

  header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
  }

  input[type="text"] {
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    font-size: 24px;
    font-weight: bold;  
  }

  a {
    margin-top: -1600px;
    margin-right: 69px;
    color: blue; 
    text-decoration:none; 
    font-size: 17px;
  }

  a:hover {
    text-decoration:underline; 
  }

  label {
    font-size: 18px;
    text-decoration: underline;
  }
  
</style>
</head>
<body>
    <a href="HSA.html">Joint ventures</a><br>
    <br>
        <header>Transparency and Disclosures Compliances</header><br>
        <br>
  <table>
    <thead>
      <tr>
        <th>Stakeholder group from whom complaint is received</th>
        <th>Grievance Redressal Mechanism in Place (Yes/No)
            (If Yes, then provide web-link for grievance redress policy)</th>
        <th><label>FY __ Current Financial Year</label><br>
            <br>
        (i) Number of complaints filed during the year<br> (ii) Number of complaints pending resolution at close of the year<br> (iii) Remarks
        </th>
        <th><label>FY __ Previous Financial Year</label><br>
            <br>
        (i) Number of complaints filed during the year<br> (ii) Number of complaints pending resolution at close of the year<br> (iii) Remarks
        </th>
      </tr>
    </thead>
    <tbody>
        <label>1. Complaints/Grievances on any of the principles (Principles 1 to 9) under the National Guidelines on Responsible Business Conduct:</label><br>
        <br>
        <tr>
            <td>Communities</td>
            <td><select>
                <option hidden></option>
                <option>Yes</option>
                <option>No</option>
            </select>
            <input type="text" placeholder="If No, Leave Empty" required /></td>
            <td><input type="text" placeholder="" required /><input type="text" placeholder="" required /><input type="text" placeholder="" required /></td>
            <td><input type="text" placeholder="" required /><input type="text" placeholder="" required /><input type="text" placeholder="" required /></td>
          </tr>
          <tr>
            <td>Investors (other than shareholders)</td>
            <td><select>
                <option hidden></option>
                <option>Yes</option>
                <option>No</option>
            </select>
            <input type="text" placeholder="If No, Leave Empty" required /></td>
            <td><input type="text" placeholder="" required /><input type="text" placeholder="" required /><input type="text" placeholder="" required /></td>
            <td><input type="text" placeholder="" required /><input type="text" placeholder="" required /><input type="text" placeholder="" required /></td>
          </tr>  
      <tr>
        <td>Shareholders</td>
        <td><select>
            <option hidden></option>
            <option>Yes</option>
            <option>No</option>
        </select>
        <input type="text" placeholder="If No, Leave Empty" required /></td>
        <td><input type="text" placeholder="" required /><input type="text" placeholder="" required /><input type="text" placeholder="" required /></td>
        <td><input type="text" placeholder="" required /><input type="text" placeholder="" required /><input type="text" placeholder="" required /></td>
      </tr>
      <tr>
        <td>Employees and workers</td>
        <td><select>
            <option hidden></option>
            <option>Yes</option>
            <option>No</option>
        </select>
        <input type="text" placeholder="If No, Leave Empty" required /></td>
        <td><input type="text" placeholder="" required /><input type="text" placeholder="" required /><input type="text" placeholder="" required /></td>
        <td><input type="text" placeholder="" required /><input type="text" placeholder="" required /><input type="text" placeholder="" required /></td>
      </tr>
      <tr>
        <td>Customers</td>
        <td><select>
            <option hidden></option>
            <option>Yes</option>
            <option>No</option>
        </select>
        <input type="text" placeholder="If No, Leave Empty" required /></td>
        <td><input type="text" placeholder="" required /><input type="text" placeholder="" required /><input type="text" placeholder="" required /></td>
        <td><input type="text" placeholder="" required /><input type="text" placeholder="" required /><input type="text" placeholder="" required /></td>
      </tr>
      <tr>
        <td>Value Chain Partners</td>
        <td><select>
            <option hidden></option>
            <option>Yes</option>
            <option>No</option>
        </select>
        <input type="text" placeholder="If No, Leave Empty" required /></td>
        <td><input type="text" placeholder="" required /><input type="text" placeholder="" required /><input type="text" placeholder="" required /></td>
        <td><input type="text" placeholder="" required /><input type="text" placeholder="" required /><input type="text" placeholder="" required /></td>
      </tr>
      <tr>
        <td>Other (please specify)</td>
        <td><select>
            <option hidden></option>
            <option>Yes</option>
            <option>No</option>
        </select>
        <input type="text" placeholder="If No, Leave Empty" required /></td>
        <td><input type="text" placeholder="" required /><input type="text" placeholder="" required /><input type="text" placeholder="" required /></td>
        <td><input type="text" placeholder="" required /><input type="text" placeholder="" required /><input type="text" placeholder="" required /></td>
      </tr>

      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table><br>
  <br>

  <table>
    <thead>
      <tr>
        <th>S.NO.</th>
        <th>Material issue identified</th>
        <th>Indicate whether risk or opportunity (R/O)</th>
        <th>Rationale for identifying the risk / opportunity</th>
        <th>In case of risk, approach to adapt or mitigate</th>
        <th>Financial implications of the risk or opportunity (Indicate positive or negative implications)</th>
    </tr>
    </thead>
    <tbody>
        <label>2. Overview of the entity's material responsible business conduct issues</label><br>
        <br>
        <label>Please indicate material responsible business conduct and sustainability issues pertaining to environmental and social matters that present a risk or an opportunity to your business, rationale for identifying the same, approach to adapt or mitigate the risk along-with its financial implications, as per the following format</label><br>
        <br>
      <tr>
        <td>1</td>
        <td><input type="text" placeholder="" required /></td>
        <td><select>
            <option hidden></option>
            <option>R</option>
            <option>O</option>
        </select></td>
        <td><input type="text" placeholder="" required /></td>
        <td><input type="text" placeholder="" required /></td>
        <td><input type="text" placeholder="" required /></td>
      </tr>
      <tr>
        <td>2</td>
        <td><input type="text" placeholder="" required /></td>
        <td><select>
            <option hidden></option>
            <option>R</option>
            <option>O</option>
        </select></td>
        <td><input type="text" placeholder="" required /></td>
        <td><input type="text" placeholder="" required /></td>
        <td><input type="text" placeholder="" required /></td>
      </tr>
      
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table><br>
  <br>
  <br>

  <form>
    <button>Submit</button>
  </form>   
</body>
</html>