<!DOCTYPE html>
<html>
<head>
  <title>Transparency and Disclosures</title>
  <style>
    
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
  color:black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 8px;
  text-align: left;
}

form {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/templates/bgi.jpg');
}

label {
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: black;
    color:black;
    font-style: italic;
}

input[type="text"] {
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
}
 
</style>
</head>
<body>
    
  <ul>
    <li><a href="DOE.html">Details of Entity</a></li>
    <li><a href="PS.html">Products/Services</a></li>
    <li><a href="Operations.html">Operations</a></li>
    <li><a href="Employees.html">Employees</a></li>
    <li><a href="HSA.html">Joint Ventures</a></li>
    <li><a class="active" href="TDC.html">Transparency and Disclosures</a></li>
    <li style="float:right"><a href="Section_B.html">SECTION-B</a></li>
  </ul><br>
  <br>
        <header>Transparency and Disclosures Compliances</header><br>
        <br>
  <form action = "/TADdb" method = "post" >
  <table>
    <thead>
      <tr>
        <th>Stakeholder group from whom complaint is received</th>
        <th>Grievance Redressal Mechanism in Place (Yes/No)
            (If Yes, then provide web-link for grievance redress policy)</th>
        <th><label>FY __ Current Financial Year</label><br>
            <br>
        (i) Number of complaints filed during the year<br> (ii) Number of complaints pending resolution at close of the year<br> (iii) Remarks
        </th>
        <th><label>FY __ Previous Financial Year</label><br>
            <br>
        (i) Number of complaints filed during the year<br> (ii) Number of complaints pending resolution at close of the year<br> (iii) Remarks
        </th>
      </tr>
    </thead>
    <tbody>
        <label>1. Complaints/Grievances on any of the principles (Principles 1 to 9) under the National Guidelines on Responsible Business Conduct:</label><br>
        <br>
        <tr>
            <td>Communities</td>
            <td><select name = "GrievanceRedressalMechanism" required>
                <option hidden></option>
                <option>Yes</option>
                <option>No</option>
            </select>
            <input type="text" placeholder="If No, Leave Empty" required name = "GrievanceRedressPolicyLink"  /></td>
            <td><input type="text" placeholder="" required name = "NumComplaintsFiledCurrentYear" /><input type="text" placeholder="" required name = "NumComplaintsPendingCurrentYear" /><input type="text" placeholder="" required name = "RemarksCurrentYear" /></td>
            <td><input type="text" placeholder="" required name = "NumComplaintsFiledPreviousYear" /><input type="text" placeholder="" required name = "NumComplaintsPendingPreviousYear" /><input type="text" placeholder="" required name = "RemarksPreviousYear" /></td>
          </tr>
          <tr>
            <td>Investors (other than shareholders)</td>
            <td><select name = "n0" required>
                <option hidden></option>
                <option>Yes</option>
                <option>No</option>
            </select>
            <input type="text" placeholder="If No, Leave Empty" required name = "n1" /></td>
            <td><input type="text" placeholder="" required name = "n2" /><input type="text" placeholder="" required name = "n3" /><input type="text" placeholder="" required name = "n4" /></td>
            <td><input type="text" placeholder="" required name = "n5" /><input type="text" placeholder="" required name = "n6" /><input type="text" placeholder="" required name = "n7" /></td>
          </tr>  
      <tr>
        <td>Shareholders</td>
        <td><select name = "n8" required>
            <option hidden></option>
            <option>Yes</option>
            <option>No</option>
        </select>
        <input type="text" placeholder="If No, Leave Empty" required name = "n9" /></td>
        <td><input type="text" placeholder="" required name = "n10" /><input type="text" placeholder="" required name = "n11" /><input type="text" placeholder="" required name = "n12" /></td>
        <td><input type="text" placeholder="" required name = "n13" /><input type="text" placeholder="" required name = "n14" /><input type="text" placeholder="" required name = "n15" /></td>
      </tr>
      <tr>
        <td>Employees and workers</td>
        <td><select name = "n16" required>
            <option hidden></option>
            <option>Yes</option>
            <option>No</option>
        </select>
        <input type="text" placeholder="If No, Leave Empty" required name = "n17" /></td>
        <td><input type="text" placeholder="" required name = "n18" /><input type="text" placeholder="" required name = "n19" /><input type="text" placeholder="" required name = "n20" /></td>
        <td><input type="text" placeholder="" required name = "n21" /><input type="text" placeholder="" required name = "n22" /><input type="text" placeholder="" required name = "n23" /></td>
      </tr>
      <tr>
        <td>Customers</td>
        <td><select name = "n24" required>
            <option hidden></option>
            <option>Yes</option>
            <option>No</option>
        </select>
        <input type="text" placeholder="If No, Leave Empty" required name = "n25" /></td>
        <td><input type="text" placeholder="" required name = "n26" /><input type="text" placeholder="" required name = "n27" /><input type="text" placeholder="" required name = "n28" /></td>
        <td><input type="text" placeholder="" required name = "n29" /><input type="text" placeholder="" required name = "n30" /><input type="text" placeholder="" required name = "n31" /></td>
      </tr>
      <tr>
        <td>Value Chain Partners</td>
        <td><select name = "n32" required>
            <option hidden></option>
            <option>Yes</option>
            <option>No</option>
        </select>
        <input type="text" placeholder="If No, Leave Empty" required name = "n33" /></td>
        <td><input type="text" placeholder="" required name = "n34" /><input type="text" placeholder="" required name = "n35" /><input type="text" placeholder="" required name = "n36" /></td>
        <td><input type="text" placeholder="" required name = "n37" /><input type="text" placeholder="" required name = "n38" /><input type="text" placeholder="" required name = "n39" /></td>
      </tr>
      <tr>
        <td>Other (please specify)</td>
        <td><select name = "n40" required>
            <option hidden></option>
            <option>Yes</option>
            <option>No</option>
        </select>
        <input type="text" placeholder="If No, Leave Empty" required name = "n41" /></td>
        <td><input type="text" placeholder="" required name = "n42" /><input type="text" placeholder="" required name = "n43" /><input type="text" placeholder="" required name = "n44" /></td>
        <td><input type="text" placeholder="" required name = "n45" /><input type="text" placeholder="" required name = "n46" /><input type="text" placeholder="" required name = "n47" /></td>
      </tr>

      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table><br>
  <br>
  <form action = "/TADdb" method = "post" >
  <table>
    <thead>
      <tr>
        <th>S.NO.</th>
        <th>Material issue identified</th>
        <th>Indicate whether risk or opportunity (R/O)</th>
        <th>Rationale for identifying the risk / opportunity</th>
        <th>In case of risk, approach to adapt or mitigate</th>
        <th>Financial implications of the risk or opportunity (Indicate positive or negative implications)</th>
    </tr>
    </thead>
    <tbody>
        <label>2. Overview of the entity's material responsible business conduct issues</label><br>
        <br>
        <label>Please indicate material responsible business conduct and sustainability issues pertaining to environmental and social matters that present a risk or an opportunity to your business, rationale for identifying the same, approach to adapt or mitigate the risk along-with its financial implications, as per the following format</label><br>
        <br>
      <tr>
        <td>1</td>
        <td><input type="text" placeholder="" required name ="MaterialIssue1" /></td>
        <td><select>
            <option hidden name = "RiskOpportunity1" required></option>
            <option>R</option>
            <option>O</option>
        </select></td>
        <td><input type="text" placeholder="" required name = "Rationale1" /></td>
        <td><input type="text" placeholder="" required name = "Approach1" /></td>
        <td><input type="text" placeholder="" required name = "FinancialImplications1" /></td>
      </tr>
      <tr>
        <td>2</td>
        <td><input type="text" placeholder="" required name = "MaterialIssue2" /></td>
        <td><select>
            <option hidden name = "RiskOpportunity2" required></option>
            <option>R</option>
            <option>O</option>
        </select></td>
        <td><input type="text" placeholder="" required name = "Rationale2" /></td>
        <td><input type="text" placeholder="" required name = "Approach2" /></td>
        <td><input type="text" placeholder="" required name = "FinancialImplications2" /></td>
      </tr>
      
      </tr>
      <!-- Add more rows as needed -->
    </tbody>
  </table><br>
  <br>
  <br>

  <form>
    <button>Submit</button>
  </form>   
</body>
</html>
